In [3]:
import numpy as np
import pandas as pd

movies_credits = pd.read_csv('movies_and_credits.csv')
movies_credits = movies_credits.drop(['cast'], axis = 1)
movies_credits.head()

,title,crew,budget,genres,original_language,popularity,production_companies,production_countries,release_date,revenue,vote_average,vote_count
0,Avatar,"[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",en,150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",12/10/2009,2787965087,7.2,11800
1,Pirates of the Caribbean: At World's End,"[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",en,139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",5/19/2007,961000000,6.9,4500
2,Spectre,"[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",en,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",10/26/2015,880674609,6.3,4466
3,The Dark Knight Rises,"[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",en,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",7/16/2012,1084939099,7.6,9106
4,John Carter,"[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",en,43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",3/7/2012,284139100,6.1,2124

In [4]:
import json

def convert_list(column_to_convert):
    converted_column = []
    # for every string entry in the column
    for str in column_to_convert:
        # turn it into a list of dictionaries
        list = json.loads(str)

        # add the list to the converted column
        converted_column.append(list)

        
    return converted_column

In [5]:
def get_director(crew_entry):
    # for every dictionary in the crewlist
    for dictionary in crew_entry:
        # return the director's name
        if dictionary.get('job') == 'Director':
            return dictionary.get('name')
    return 'N/A'

movies_credits['crew'] = convert_list(movies_credits['crew'])
movies_credits['director'] = movies_credits['crew'].apply(get_director)
movies_credits = movies_credits.drop('crew', axis = 1)
movies_credits.head()

,title,budget,genres,original_language,popularity,production_companies,production_countries,release_date,revenue,vote_average,vote_count,director
0,Avatar,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",en,150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",12/10/2009,2787965087,7.2,11800,James Cameron
1,Pirates of the Caribbean: At World's End,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",en,139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",5/19/2007,961000000,6.9,4500,Gore Verbinski
2,Spectre,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",en,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",10/26/2015,880674609,6.3,4466,Sam Mendes
3,The Dark Knight Rises,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",en,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",7/16/2012,1084939099,7.6,9106,Christopher Nolan
4,John Carter,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",en,43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",3/7/2012,284139100,6.1,2124,Andrew Stanton

In [6]:
def get_genres(genre_entry):
    genre_list = []
    for genre_dict in genre_entry:
        genre_list.append(genre_dict.get('name'))
    return genre_list

movies_credits['genres'] = convert_list(movies_credits['genres'])
movies_credits['genres'] = movies_credits['genres'].apply(get_genres)
movies_credits.head()

,title,budget,genres,original_language,popularity,production_companies,production_countries,release_date,revenue,vote_average,vote_count,director
0,Avatar,237000000,"[Action, Adventure, Fantasy, Science Fiction]",en,150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",12/10/2009,2787965087,7.2,11800,James Cameron
1,Pirates of the Caribbean: At World's End,300000000,"[Adventure, Fantasy, Action]",en,139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",5/19/2007,961000000,6.9,4500,Gore Verbinski
2,Spectre,245000000,"[Action, Adventure, Crime]",en,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",10/26/2015,880674609,6.3,4466,Sam Mendes
3,The Dark Knight Rises,250000000,"[Action, Crime, Drama, Thriller]",en,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",7/16/2012,1084939099,7.6,9106,Christopher Nolan
4,John Carter,260000000,"[Action, Adventure, Science Fiction]",en,43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",3/7/2012,284139100,6.1,2124,Andrew Stanton

In [ ]:
movies_credits['production_companies'] = convert_list(movies_credits['production_companies'])
movies_credits['production_companies'] = movies_credits['production_companies'].apply(get_genres)
movies_credits.head()

,title,budget,genres,original_language,popularity,production_companies,production_countries,release_date,revenue,vote_average,vote_count,director
0,Avatar,237000000,"[Action, Adventure, Fantasy, Science Fiction]",en,150.437577,"[Ingenious Film Partners, Twentieth Century Fo...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",12/10/2009,2787965087,7.2,11800,James Cameron
1,Pirates of the Caribbean: At World's End,300000000,"[Adventure, Fantasy, Action]",en,139.082615,"[Walt Disney Pictures, Jerry Bruckheimer Films...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",5/19/2007,961000000,6.9,4500,Gore Verbinski
2,Spectre,245000000,"[Action, Adventure, Crime]",en,107.376788,"[Columbia Pictures, Danjaq, B24]","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",10/26/2015,880674609,6.3,4466,Sam Mendes
3,The Dark Knight Rises,250000000,"[Action, Crime, Drama, Thriller]",en,112.312950,"[Legendary Pictures, Warner Bros., DC Entertai...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",7/16/2012,1084939099,7.6,9106,Christopher Nolan
4,John Carter,260000000,"[Action, Adventure, Science Fiction]",en,43.926995,[Walt Disney Pictures],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",3/7/2012,284139100,6.1,2124,Andrew Stanton

In [8]:
movies_credits['production_countries'] = convert_list(movies_credits['production_countries'])
movies_credits['production_countries'] = movies_credits['production_countries'].apply(get_genres)
movies_credits.head()

,title,budget,genres,original_language,popularity,production_companies,production_countries,release_date,revenue,vote_average,vote_count,director
0,Avatar,237000000,"[Action, Adventure, Fantasy, Science Fiction]",en,150.437577,"[Ingenious Film Partners, Twentieth Century Fo...","[United States of America, United Kingdom]",12/10/2009,2787965087,7.2,11800,James Cameron
1,Pirates of the Caribbean: At World's End,300000000,"[Adventure, Fantasy, Action]",en,139.082615,"[Walt Disney Pictures, Jerry Bruckheimer Films...",[United States of America],5/19/2007,961000000,6.9,4500,Gore Verbinski
2,Spectre,245000000,"[Action, Adventure, Crime]",en,107.376788,"[Columbia Pictures, Danjaq, B24]","[United Kingdom, United States of America]",10/26/2015,880674609,6.3,4466,Sam Mendes
3,The Dark Knight Rises,250000000,"[Action, Crime, Drama, Thriller]",en,112.312950,"[Legendary Pictures, Warner Bros., DC Entertai...",[United States of America],7/16/2012,1084939099,7.6,9106,Christopher Nolan
4,John Carter,260000000,"[Action, Adventure, Science Fiction]",en,43.926995,[Walt Disney Pictures],[United States of America],3/7/2012,284139100,6.1,2124,Andrew Stanton

In [19]:
cols = ['budget', 'popularity', 'revenue', 'vote_count', 'vote_average']
movies_credits[cols] = movies_credits[cols].apply(pd.to_numeric, errors = 'coerce')
movies_credits['release_date'] = pd.to_datetime(movies_credits['release_date'], errors = 'coerce')

movies_credits.head()

,title,budget,genres,original_language,popularity,production_companies,production_countries,release_date,revenue,vote_average,vote_count,director
0,Avatar,237000000,"[Action, Adventure, Fantasy, Science Fiction]",en,150.437577,"[Ingenious Film Partners, Twentieth Century Fo...","[United States of America, United Kingdom]",2009-12-10,2787965087,7.2,11800,James Cameron
1,Pirates of the Caribbean: At World's End,300000000,"[Adventure, Fantasy, Action]",en,139.082615,"[Walt Disney Pictures, Jerry Bruckheimer Films...",[United States of America],2007-05-19,961000000,6.9,4500,Gore Verbinski
2,Spectre,245000000,"[Action, Adventure, Crime]",en,107.376788,"[Columbia Pictures, Danjaq, B24]","[United Kingdom, United States of America]",2015-10-26,880674609,6.3,4466,Sam Mendes
3,The Dark Knight Rises,250000000,"[Action, Crime, Drama, Thriller]",en,112.312950,"[Legendary Pictures, Warner Bros., DC Entertai...",[United States of America],2012-07-16,1084939099,7.6,9106,Christopher Nolan
4,John Carter,260000000,"[Action, Adventure, Science Fiction]",en,43.926995,[Walt Disney Pictures],[United States of America],2012-03-07,284139100,6.1,2124,Andrew Stanton

In [16]:
# taking the length of the crew
crew_count_list = list()

for index, movie in movies_credits.iterrows():
    current_crew = movie['crew']
    crew_count = len(current_crew)
    crew_count_list.append(crew_count)

#adding the crew_size column
crew_count_list

movies_credits['crew_size'] = crew_count_list

In [32]:
movies_credits.head()

,title,crew,budget,genres,original_language,popularity,production_companies,production_countries,release_date,revenue,vote_average,vote_count,crew_size
0,Avatar,"[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",en,150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",12/10/2009,2.787965e+09,7.2,11800.0,22831
1,Pirates of the Caribbean: At World's End,"[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",en,139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",5/19/2007,9.610000e+08,6.9,4500.0,4583
2,Spectre,"[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",en,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",10/26/2015,8.806746e+08,6.3,4466.0,23232
3,The Dark Knight Rises,"[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",en,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",7/16/2012,1.084939e+09,7.6,9106.0,31672
4,John Carter,"[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",en,43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",3/7/2012,2.841391e+08,6.1,2124.0,19702